{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="font-bold text-center p-5 text-2xl">"ПИКЬЮ-КОМПАНИ" является дилером известных брендов канцелярской<br> продукции и поставщиком сувенирной продукции на Б2Б рынке.</h1>

<p class="p-10">
    В компании действует собственное производство по брендированию различной продукции и собственная логистическая служба.
    Мы гарантируем высокое качество и разумные сроки исполнения Ваших заказов.
    Наша компания является официальным дилером компании "Альт" ТМ Bruno-Visconti.
    Поставки ежедневников осуществляются напрямую от производителя.</p>
<img class="mx-auto" src="{% static 'img/kanctov.jpg' %}">

{% endblock %}